<form [formGroup]="boxInputForm">
  <label for="total">合計</label><input type="number" id="total" formControlName="total">
  <label for="boxCount">枠数</label><input type="number" id="boxCount" formControlName="boxCount">
  <label for="excludes">除外</label>
  <fieldset id="excludes">
    <label *ngFor="let value of excludeOptions; let i = index" formArrayName="excludes">
      <input type="checkbox" name="excludes" [value]="value" [formControlName]="i"> {{value}}
    </label>
    <button type="button" (click)="resetExcludes()">Reset</button>
  </fieldset>
</form>

<ul>
  <li *ngFor="let result of results | async">
    {{result | json}}
  </li>
</ul>

{{boxInputForm.value | json}}
